@import "./fonts.scss";
@import "./variables.scss";
@import "./buttons.scss";

@import "./header.scss";
@import "./main.scss";
@import "./footer.scss";

@import "./product.scss";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    background-color: $back-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ul {
    list-style: none;
}

img {
    display: inline-block;
}

a {
    position: relative;
    text-decoration: none;
}

.page {
    width: 100%;
}

.content-width {
    width: 100%;
    padding: 0 $page-padding;
}
