// Product page Website button

.link--button {
    max-width: 400px;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: $white;
    border: 2px solid $white;
    border-radius: 30px;

    font-size: $product-font;
    color: $back-color;
    letter-spacing: -0.04ch;

    transition: all 0.2s ease-in;

    .link--title {
        font-size: inherit;
        color: inherit;
        letter-spacing: inherit;
        margin-bottom: 4px;
    }

    &:hover {
        background-color: $back-color;
        border: 2px solid $white;
        color: $white;
    }
}

// Links

.link--text {
    display: inline-block;
    position: relative;
    text-decoration: none;

    cursor: pointer;
    transition: opacity 0.1s ease-in;

    &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: $white;
        left: 0;
        bottom: 0;
    }

    &:hover {
        opacity: 60%;
    }
}
