//
// Header

.header {
    width: 100%;
    position: relative;
}

.header__container {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    padding: 5px 10px 10px;
    background-color: $back-color;
    z-index: 100;

    transition: all 0.2s ease-in-out;
}

.header__border--active {
    border-bottom: 1px solid $white;
}

.header__container .logo--icon {
    margin-top: 8px;
}

.logo h1 {
    font-size: 34px;
    font-weight: 500;
}

//
// Side navigation

.nav__items {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    margin-top: 80px;
}

.nav__item--link {
    margin-top: 20px;
    display: inline-block;
    position: relative;
}

.nav__item--link::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: $white;
    left: 0;
    bottom: 0;
}