@import "./fonts.scss";
@import "./variables.scss";

@import "./header.scss";
@import "./products.scss";
@import "./footer.scss";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    background-color: $back-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page {
    max-width: 768px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 10px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}
